{% extends 'base-blank.html' %}

{% block title%}
URLytic - Login
{% endblock %}

{% block navlist %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="/registermember">SignUp using email</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<style type="text/css">
	input{
  padding: 10px;
  margin-left: 5px;
  margin-right: 10px;
}
</style>
<div class="centerDiv appSummary">    
<div class="d-flex justify-content-center">
<div class="list-group-item list-group-item-action list-group-item-light">
<form method="post">
  {% csrf_token %}
<div class="d-flex justify-content-center textinput">  
  {{ form.as_p }}
</div>  
<button class ="btn btn-primary btn-lg btn-block" type="submit">Login</button>
</form>
<div class="d-flex justify-content-center">
<a href="{% url 'social:begin' 'github' %}">
<button class ="btn btn-outline-secondary"  style=margin-top:5%;>Login with GitHub</button>
</a>
<div style=margin-left:2%>
<a href="{% url 'social:begin' 'google-oauth2' %}">
<button class ="btn btn-outline-success" style=margin-top:5%>Login with Google</button>
</a></div>
<div style=margin-left:2%>
<a href="{% url 'social:begin' 'facebook' %}">
<button class ="btn btn-outline-primary" style=margin-top:5%;>Login with Facebook</button>
</a></div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}