{% extends 'base.html' %}
{% load staticfiles%}

{% block title%}
URLytic - Custom Link
{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="topDiv appSummary">
  <div class="d-flex justify-content-center">
  <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <b><i>**Lifespan overrides the expiry date. To set lifespan unlimited, use -1.</i></b>
  <div class="d-flex justify-content-center">
  <button class="btn btn-primary btn-lg" type="submit" style="margin-top: 10px;">Generate</button>
  </div>
  </form>
  </div>
</div>
{% endblock %}

{% block script %}
	<script>
	$('#id_expires_on').datetimepicker({ uiLibrary: 'bootstrap4', footer: true, modal: true, format: 'yyyy-mm-dd HH:MM:SS' });
	</script>
{% endblock %}