{% extends 'base.html' %}

{% block title%}
URLytic - FileDetail
{% endblock %}

{% block content %}
<!-- <div class="topDiv appSummary">
  <div class="d-flex justify-content-center">
  {% for document in documents %}
  <a href="{{ document.upload.url }}" target="_blank">{{ document.upload.name }}</a><br>
  <a href="{{ generatedurl }}" target="_blank">{{ generatedurl }}</a><br>
  {% empty %}
  No data
  {% endfor %}
  </div>
</div> -->
<div class="topDiv appSummary">
  <div class="d-flex justify-content-center">
    <h2>Filename: <a href="{{ selectedfile.document.upload.url }}" target="_blank">{{ selectedfile.document.upload.name }}</a></h2>
  </div>
  <div class="d-flex justify-content-center">
  Generate a new link:
  <button class="linkgen" value="">Generate</button></td>
  </div>
  <div class="d-flex justify-content-center">
   <table id="filetable">
    <thead>
      <tr>
        <th>Generated Link</th>
        <th>Enabled</th>
        <th>Link created</th>
        <th>Link lifespan</th>
        <th>Link expires</th>
        <th>Max uses</th>
        <th>Times link used</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for file in selectedfile.fileinfo %}
        <tr>
          <td><a href="{{ file.short_url }}" target="_blank">{{ file.short_url }}</a></td>
          <td><select class="fileinfo" id="enabled">
          {% if  file.enabled == "True" %}
          <option value="True" selected>True</option>
          <option value="False">False</option>
          </select>
          {% else %}
          <option value="True">True</option>
          <option value="False" selected>False</option>
          </select>
          {% endif %}
          </td>
          <td>{{ file.date_created }}</td>
          <td>{{ file.lifespan }} secs</td>
          <td>{{ file.date_expired }}</td>
          <td>{{ file.max_uses }}</td>
          <td>{{ file.usage_count }}</td>
          <td><button class="updatelink" value="">Update</button></td></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No data.</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
   </div> 
  </div> 

{% endblock %}  

{% block script%}
<div id="dialog" title="Link Generated" style="display: none;">
  <p>New download link has been generated!</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
window.onload =function (){
  var linkgen_button = document.getElementsByClassName("linkgen");
  for (var i = 0; i < linkgen_button.length; i++) {
    linkgen_button[i].addEventListener("click", call_api_generate);}

  function call_api_generate(){
      if (confirm("Are you sure you want to generate a new link?"))
        {
        url = "{% url 'filedetail_ns:filedetail_home' %}?filename={{ selectedfile.document.upload.name }}"
        var xhr  = new XMLHttpRequest();
        var params = "&gen=True"
        xhr.open('GET', url+params, true);
        xhr.onreadystatechange = function()
          {
            if(xhr.readyState == 4 && xhr.status == 200) {
                $( "#dialog" ).dialog({
                  dialogClass: "no-close",
                  buttons: [
                    {
                      text: "OK",
                      click: function() {
                        $( this ).dialog( "close" );
                        window.location.reload();
                      }
                    }
                  ]
                });
              }
            }
        xhr.send(null);
        }
       }
      }  
</script>
{% endblock %}